<div class="header">
  <div class="col-xs12">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li  class="active"><a ng-href="#!/administrador">Usuarios</a></li>
          <li><a ng-href="#!/administradores">Administradores</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<p></p>
<div ng-controller="MainCtrl2">

  <div class="page-header text-center container textosColor">
    <div class="panel container-fluid">
      <!--
      <p>Mostrar Edición de Administradores</p>
      <div class="bootstrap-switch-square">
    <input type="checkbox" data-toggle="switch" ng-model="mostrarEditarAdministradores" value="true" />
    </div>
    <p>Mostrar Administradores</p>
      <div class="bootstrap-switch-square">
    <input type="checkbox" data-toggle="switch" ng-model="mostrarAdministradores" value="true" />
    </div>

    <div class="input-group">
    <input class ="form-control" ng-model="searchKeyword2"/>
    <span class="input-group-btn">
    <button class="btn btn-default" ng-click="">Buscar</button>
    </span>
    </div>
-->
<!--
      <h1>Administrador Activo</h1>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Inscripción</th>
          <th>Domicilio</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="administrador in modelo.administradores">
          <td>{{administrador.id}}</td>
          <td>{{administrador.nombre}}</td>
          <td>{{administrador.apellido}}</td>
          <td>{{administrador.inscripcion}}</td>
          <td>{{administrador.domicilio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
-->
<p></p>
    <h1>Lista de Usuarios Activos
    <span ng-class="alertaUsuarios()" >{{cuentaUsuariosActivos()}}</span></h1>
  </div>
  <div class="input-group">
  <input class ="form-control" ng-model="searchKeyword2"/>
  <span class="input-group-btn">
  <button class="btn btn-default" ng-click="">Buscar</button>
  </span>
  </div>
<p></p>
  <div style="background:orange" class="panel">
    <div class="input-group">
      <div class="col-lg-4 col-md-4 col-sm-6 text-center">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Nombre</h2>
            <input class ="form-control" ng-model="usuarioInput.nombre">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 text-center">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Apellido</h2>
            <input class ="form-control" ng-model="usuarioInput.apellido">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 text-center">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Saldo</h2>
            <input class ="form-control" ng-model="usuarioInput.saldo">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 text-center">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Contraseña</h2>
            <input class ="form-control" ng-model="usuarioInput.contrasena">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 text-center">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Inscripcion</h2>
            <input class ="form-control" ng-model="usuarioInput.inscripcion">
          </div>
        </div>
      </div>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-hide="hide()" ng-click="addUsuario(usuarioInput.saldo,usuarioInput.nombre,usuarioInput.apellido,usuarioInput.inscripcion,usuarioInput.contrasena,usuarioInput.estado)">Añadir</button>
        <button class="btn btn-default" ng-hide="show()" ng-click="show2()">Regresar</button>
      </span>
    </div>

<p></p>
</div>

<div class="container-fluid panel textosColor">
<table class = "table ">
  <thead>
    <tr>
      <th>id</th>
      <th>Estado</th>

      <th>Saldo</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Inscripción</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="usuario in modelo.usuarios | filter: searchKeyword2">
      <td>{{usuario.id=$index}}</td>
      <td><input type="checkbox" ng-model="usuario.estado"/></td>

      <td>{{usuario.saldo}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.inscripcion}}</td>

      <td><input type="button" value="Remove" class="btn btn-primary" ng-click="removeUsuario(usuario.id)"/></td>
      <!--<td><input type="button" value="Editar" class="btn btn-primary" ng-click="editarLibro(libro.autor,libro.titulo,libro.isbn,libro.editorial,libro.fecha,libro.edicion,libro.costo,libro.proveedores,libro.usuario,libro.pasta)"></td>-->
      <td><input type="button" value="Editar" class="btn btn-primary" ng-click="editarUsuario2(usuario)"></td>
    </tr>
  </tbody>
</table>
</div>

<div class="container-fluid">
  <div class="row">
    <a class= "btn btn-success" href="#!/about" >Regresar</a>
  </div>
</div>
</div>
</div>
